<div>
    <button unicorn:click="search">Search</button>

    <h2>Potion active? {{ potion_active }}</h2>

    <h1>Your list of materials</h1>

    <h2>Common materials</h2>
    
    <p>Rocks: {{ rocks }}</p>
    <p>Leaves: {{ leaves }}</p>
    <p>Twigs: {{ twigs }}</p>
    <p>Bird eggs: {{ bird_eggs }}</p>
    <p>Antlers: {{ antlers }}</p>
    <br />

    <h2>Rare materials</h2>
    <p>Beetles: {{ beetles }}</p>
    <p>Quartz: {{ quartz }}</p>
    <p>Frog legs: {{ frog_legs }}</p>
    <br />

    <h2>The Berry</h2>

    <p>Have The Berry? {{ have_berry }}</p>

    <h2>Have all needed ingredients? {{ have_all }}</h2>
</div>
