<div>
    <style>
        body{
            background: linear-gradient(powderblue, lightgreen);
            margin: 0;
            min-height: 100vh;
            padding: 50px;
            margin-top: -30px;
        }
        body {
            font-family: Fantasy, Copperplate;
            font-size: 15px;
            color: darkslategray;
        }
        h1  {
            text-align: center;
        }
        button {
            background-color: pink;
            color: white;
            font-size: 15px;
            padding: 12px;
            border: none;
            border-radius: 5x;
            cursor: pointer;
        }

    </style>

    <h1>Welcome to the Quest for The Berry!</h1>
    <h2>Click the button(s) below to start searching for ingredients! You want to create the Elixir of Life, as it makes your friends, The Dragonflies, immortal.</h2>

    <button unicorn:click="search">Search for regular ingredients</button>
    <button unicorn:click="include_berry">Search for The Berry</button>

    <h2>Your list of materials</h2>

    <h3>Common materials</h3>
    <p>Rocks: {{ rocks }}</p>
    <p>Leaves: {{ leaves }}</p>
    <p>Twigs: {{ twigs }}</p>
    <p>Bird eggs: {{ bird_eggs }}</p>
    <p>Antlers: {{ antlers }}</p>

    <h3>Rare materials</h3>
    <p>Beetles: {{ beetles }}</p>
    <p>Quartz: {{ quartz }}</p>
    <p>Frog legs: {{ frog_legs }}</p>

    <button unicorn:click="craft_potion">Craft potion?</button>
    {% if not enough_ing_for_potion %}
    <p style="color:red">Not enough ingredients!</p>
    {% endif %}

    <h3>Potion active? - {{ potion_crafted }}</h3>
    <p style="color:red">If the above condition is true, you are able to find The Berry. It is integral to the creation of the Elixir of Life.</p>

    <p>The Berry: {{ the_berry }}</p>
    <p style="color:red">To craft the Elixir of Life, you need at least 5 of each ingredient and 3 Berries.</p>

    <button unicorn:click="craft_elixir">Create the Elixir of Life</button>
    
    {% if not enough_ing_for_elixir %}
    <p style="color:red">Not enough ingredients!</p>
    {% endif %}

    {% if elixir_crafted %}
    <p>You win!</p>
    {% endif %}
</div>
